/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Main News Section */
.main-news {
    padding: 20px;
    text-align: center;
}

.main-news h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.news-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news-grid article {
    width: 30%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.news-grid article img {
    width: 100%;
    height: auto;
}

.news-grid article h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.news-grid article p {
    font-size: 1em;
    color: #666;
}

.news-grid article a {
    color: #333;
    text-decoration: none;
}

.news-grid article a:hover {
    text-decoration: underline;
}

/* Comparison Section */
.news-comparison {
    padding: 20px;
    text-align: center;
}

.news-comparison h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.news-comparison p {
    font-size: 1.2em;
}

.news-source {
    margin-bottom: 30px;
}

.news-source h3 {
    font-size: 1.5em;
    color: #333;
}

.news-source p {
    font-size: 1em;
    color: #666;
}

.news-source a {
    color: #0066cc;
    text-decoration: none;
}

.news-source a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Updated Bias Bar Styles */
.bias-bar {
    height: 10px;
    display: flex;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.pro-western {
    background-color: blue;
    height: 100%;
}

.pro-eastern {
    background-color: red;
    height: 100%;
}

/* Logos in the News

